<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Computador</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            border-radius: 8px;
            width: 100%;
            max-width: 600px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        form {
            margin-top: 20px;
        }

        input[type="text"] {
            width: calc(50% - 10px);
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Editar Computador</h1>
        <form action="/edit/<%= computador.id %>" method="POST">
            <input type="text" name="marca" value="<%= computador.marca %>" required>
            <input type="text" name="modelo" value="<%= computador.modelo %>" required>
            <input type="text" name="especificacoes" value="<%= computador.especificacoes %>" required>
            <input type="text" name="status" value="<%= computador.status %>" required>
            <input type="text" name="status" value="<%= computador.data_aluguel %>" required>
            <input type="text" name="status" value="<%= computador.data_retorno %>" required>
            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
</body>
</html>
